<%- include('partials/header_nav') -%>
<body class="body-bg container min-vh-100 text-color d-flex flex-column">
  <div class="mt-3">
    <div class="d-flex align-items-center">
        <img src="<%=clickedUser.image%>" alt="" class="rounded-circle">
        <p class="m-0 px-3 fw-bold"><%=clickedUser.displayName %></p>
        <span class="text-nowrap"><%= posts.length%> <strong>Posts</strong></span>
    </div>

    <!-- Must use another property beside _id for comparrison, googleId in this case -->
    <!-- Check if the user of the post is the same as the logged in user -->
    <%if(clickedUser.googleId == loggedUser.googleId){ %>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create Post
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create new post</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">  
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <%}%>
  </div>

  <div class="d-flex flex-column">
    <h3 class="mt-3">Posts</h3>
    <ul class="row list-unstyled">
    <% for(var i=0; i<posts.length; i++) {%>
      <li class="d-flex col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
        <a href="/post/<%= posts[i]._id%>" class="m-auto">
          <img class="img-fluid" src="<%= posts[i].image%>">
        </a>
      </li>
    <% } %>
    </ul>
    <div class="my-3 m-auto">
      <a class="btn btn-primary btn-primary:hover" href="/feed">Return to Feed</a>
    </div>  
  </div>  
</body>

<%- include('partials/footer') -%>